*{
	margin: 0;
	padding: 0;
}

/* TEXTOS NAVBAR */
    .navbar-brand {
        font-family: Ubuntu;
        color: white;
        font-size: 25px;
    }
    
    .nav-link {
        font-family: Kaushan Script;
        color: rgb(185, 182, 182);
        font-size: 15px;
    }

    .bg-light {
      background-color: #95aec8 !important;
    }

  
    
/* TEXTOS NAVBAR */


  #BannerBamboo {
    background-image: url("../img/portada-asiatico.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .txtBamboo {
    font-family: Ubuntu;
    color: white;
    font-size: 70px;
  }
  
  @media (max-width: 450px) {
    .txtBamboo {
      font-family: Ubuntu;
      color: white;
      font-size: 50px;
    }
  }
  
  #bannerDos {
    height: 300px;
    width: auto;
    background-color: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  
  #bannerDos .txtUno {
    font-size: 40px;
    text-align: center;
    font-family: Ubuntu;
  }
  
  @media (max-width: 450px) {
    #bannerDos .txtUno {
      width: auto;
      font-family: Ubuntu;
      color: black;
      font-size: 20px;
    }
  }
  
  #bannerDos .txtDos {
    width: 600px;
    font-size: 25px;
    text-align: center;
    font-family: Kaushan Script;
  }
  
  @media (max-width: 450px) {
    #bannerDos .txtDos {
      width: auto;
      font-family: Kaushan Script;
      color: black;
      font-size: 15px;
    }
  }
  
  @media (max-width: 450px) {
    #bannerDos {
      width: auto;
      height: 200px;
    }
  }
  

/* GRID */
  #parent {
    background-color: #e8e8e8;
    height: 600px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  @media (max-width: 450px) {
    #parent {
      width: auto;
      height: 800px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: center;
    }
  }
  
  #parent .div1 {
    grid-area: 1 / 1 / 4 / 4;
    width: auto;
    height: auto;
    background-image: url("../img/manosuno.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media (max-width: 450px) {
    #parent .div1 {
      width: 440px;
      height: 150px;
    }
  }
  
  #parent .div2 {
    grid-area: 4 / 1 / 7 / 4;
    width: auto;
    height: auto;
    background-image: url("../img/pescado.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media (max-width: 450px) {
    #parent .div2 {
      width: 440px;
      height: 150px;
    }
  }
  
  #parent .div3 {
    grid-area: 1 / 4 / 7 / 8;
    width: auto;
    height: auto;
    background-image: url("../img/verdura.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media (max-width: 450px) {
    #parent .div3 {
      width: 440px;
      height: 150px;
    }
  }
  
  #parent .div4 {
    grid-area: 1 / 8 / 4 / 12;
    width: auto;
    height: auto;
    background-image: url("../img/especias.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media (max-width: 450px) {
    #parent .div4 {
      width: 440px;
      height: 150px;
    }
  }
  
  #parent .div5 {
    grid-area: 4 / 8 / 7 / 12;
    width: auto;
    height: auto;
    background-image: url("../img/cuchillo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media (max-width: 450px) {
    #parent .div5 {
      width: 440px;
      height: 150px;
    }
  }
/* GRID */
/* ---------------------------------------------------- */

/* TXT div */ 
  #txtDiv {
    background-color: white;
    height: 250px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  @media (max-width: 450px) {
    #txtDiv {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: auto;
      height: 150px;
    }
  }
  
  #txtDiv .txtDivUno {
    font-size: 40px;
    text-align: center;
    font-family: Ubuntu;
  }
  
  @media (max-width: 450px) {
    #txtDiv .txtDivUno {
      width: auto;
      font-family: Ubuntu;
      color: black;
      font-size: 22px;
    }
  }
  
  #txtDiv .txtDivDos {
    width: 600px;
    font-size: 25px;
    text-align: center;
    font-family: Kaushan Script;
  }
  
  @media (max-width: 450px) {
    #txtDiv .txtDivDos {
      width: auto;
      font-family: Kaushan Script;
      color: black;
      font-size: 17px;
    }
  }
/* TXT div */ 
/* ---------------------------------------------------- */ 
  
/* BANNER BOTONES */
    #BannerBotones{

        background-image: url("../img/oriental 12.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: pink;
        width: auto;
        height: 400px;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-between;
        align-items:center;
        align-content:center;
    }

    .txtBotonUno{
        width: 300px;
        height: 100px;
        color: white;
        text-align: center;
        font-size: 30px;
        font-family: Kaushan Script;
    }

    .txtBotonDos{
        width: 300px;
        height: 100px;
        color: white;
        text-align: center;
        font-size: 30px;
        font-family: Kaushan Script;
    }

    .btn-outline-secondary{
            
        width: 80px;
        height: 30px;
        font-family:Kaushan Script;
        font-size: 1rem;
        color:rgb(219, 210, 210);
    }
/* BANNER BOTONES */

/* ---------------------------------------------------- */

/* CATALOGO MENU COMIDA / BEBIDA  */
    .catalogo{
      overflow: hidden; /* SIRVE PARA QUE NO SE PISE UNI CON OTRO DIV */ 
      margin:20px auto;
      width: 1240px;
      height: auto;
     
    }

    .card:hover{
      transform:scale(1.1) ;
    }
    .card{
        background-color: rgb(219, 219, 219);
        width: 400px;
        height: 200px;   
        margin: 5px;  
        float: left;
    }
    
    
    .card-title{
        font-family:Ubuntu;
        font-size: 1.5rem;
    }
    
    .card-text{
        font-family:Kaushan Script;
        font-size: 0.9rem;
    }
    
    .text-muted{
        font-family:Kaushan Script;
        font-size: 0.7rem;
        color:black;
    }

    .clearFix{
      float: none;
      clear: both;
    }
 
    
/* CATALOGO MENU COMIDA / BEBIDA  */

/* ---------------------------------------------------- */
.poke{
  background-color: none;
  height: 50px;
  width: 70%;
  margin:20px auto;
  font-family:Kaushan Script;
  font-size: 2.5rem;
  text-align: center
}

/* ---------------------------------------------------- */

/* PREPARA TU POKE */
#bannerPoke{
  background-image: url("../img/comida2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 300px;
  width: auto;
  margin: auto;

  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  align-content:center;

  .principal{
    font-family:ubuntu;
    font-size: 1.5rem;
    color: white;
  }
  .txtIngredientres{
    font-family:Kaushan Script;
    font-size: 1rem;
    color: white;
  }
  
}

#ListBase{
  font-family:ubuntu;
  font-size: 2rem;
  color: white;
}
#ListProteina{
  font-family:ubuntu;
  font-size: 2rem;
  color: white;
}
#ListVerdura{
  font-family:ubuntu;
  font-size: 2rem;
  color: white;
}

.print-values{
  
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  align-content:center;
}

.preparar{
  
  background-color: #64676b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 200px;   
  margin: 5px;  
  float: left;
}

.txtPreparar {
  color: white;
  font-family:ubuntu;
  font-size: 20px;
}

.txtPrepararArray{
  color: rgb(0, 0, 0);
  font-family:Kaushan Script;
  font-size: 20px;

}




/* PREPARA TU POKE */

/* ---------------------------------------------------- */
/* VINOS */
#Vino{
  margin-top: 15px;
  background-color: rgb(83, 46, 46);
  
  width: auto;
  height: 500px;

  .img_vino{
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url("../img/vinobnr.jpeg");
   border-radius: 20px;
   width: 60%;
   height: 400px;
  }

  .txtVino{
    text-align: center;
    font-family:ubuntu;
   font-size: 3rem;
   color: white;
  }

  .verificar{
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:space-around;
   align-items:center;
   align-content:center;
  }

  .columnVino{
    background-color:none;
    height: 400px;
    width: 400px;
   display:flex;
   flex-direction:column;
   flex-wrap:wrap;
   justify-content:space-around;
   align-items:center;
   align-content:center;
  }

  .txtEdad{
   font-family:Kaushan Script;
   font-size: 2rem;
   color: white;
  }

  .rowBotn{
    background-color: none;
    height: 50px;
    width: 200px;
   display:flex;
   flex-direction:row;
   flex-wrap:nowrap;
   justify-content:space-around;
   align-items:center;
  }
}
/* VINOS */

/* ---------------------------------------------------- */
/* ECO */

  #eco{
    
    padding-top: 25px;
    background-color: none;
    width: 70%;
    height: 300px;
    margin: auto;

   .txt_img{
      text-align: center;
      background-color: none;
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
      justify-content:space-around;
      align-items:center;
      align-content:center;
   } 

   .txtPrinceco{
    font-family:ubuntu;
    font-size: 2rem;
   }

   .txtparreco{
    font-family:Kaushan Script;
    font-size: 20px;
   }

   .roweco{
     text-align: center;
    background-color: none;
    width: 700px;
    
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    align-content:center;
   }

   .txteco{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-family:ubuntu;
    
   }

   .fa-solid{
     margin-top: 10px;
     font-size: 30px;
     color: rgb(71, 102, 42);
   }

   .btn-outline-success{
     font-size: 10px;
   }
  }

/* ECO */
/* ---------------------------------------------------- */

/* BANNER POSTRES */
#jsnBtn{
  font-family:ubuntu;
}

.carta:hover{
  transform:none ;
}


#BannerPostres{
  border-radius: 30px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
  align-content:center;
  background-color: #d2dde5;
  width: 95%;
  height: auto;
  margin: auto;


  .imgPostre{
    border-radius: 10px;
    margin: 10px;
    background-image: url("../img/postre 9 .jpeg");
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    width: 350px;
    height: 250px;
  }

  .parrPostre{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    margin: 20px;
    background-color: #d2dde5;
    width: 800px;
    height: 250px;
    font-family:Kaushan Script;
    font-size: 24px;
    text-align: center;
  }

  .txtit{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:Kaushan Script;
  }

}

.bannerPostres{
  margin: auto;
  background-color:none;
  width: 98%;
  height: auto;
  text-align: center;
}

.resultado{ 
  margin: auto;
}

.tituloCarta{
  color:#46525f !important;
  align-items: center;
}

.txtit{
  font-size: 20px;
    color: rgb(0, 0, 0);  
    font-family:Kaushan Script;
}

/* BANNER POSTRES */
/* ---------------------------------------------------- */
/* MODAL TERMINOS Y CONDICIONES */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #7a7979;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      text-align: center;

    }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

/* MODAL  TERMINOS Y CONDICIONES*/
/* ---------------------------------------------------- */

/* PAGINA DE CONTACTO */

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* FOOD TRUCK */



/* FOOD TRUCK */
/* ---------------------------------------------------- */
#bannerTruck{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  align-content:center;

  /* background-color: #e7b75d; */
   background-image: url("../img/ill 1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
 
  width: 98%;
  height: auto;
  margin: auto;

.txt_food{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;

  
    color: rgb(221, 31, 6);  
    font-family:Fredericka the Great;
    font-size: 50px;

  border-radius: 30px;
  background-color: none;
  width: 900px;
  height: 200px;
}

.infoFood-uno{
  border-radius: 30px;
  margin-top: 25px;
  background-color: none;
  width: 900px;
  height: 200px;

  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;
}

.txtInfoFood{

    color: rgb(0, 0, 0);  
    font-family:ubuntu;
    font-size: 30px;
    text-align: center;

}


.infoFood-dos{
  border-radius: 30px;
  margin-top: 25px;
  background-color:none;
  width: 900px;
  height: 350px;
}

.advertencias{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  align-content:center;
}

.adv{
  margin-top: 10px;
  font-size: 70px;
  color: black;
}

.txtAdv{
  font-family:ubuntu;
    font-size: 15px;
}



.infoFood-tres{

  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;



  border-radius: 30px;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: none;
  width: 900px;
  height: 300px;
}

.txt_food_tres{
  color: rgb(221, 31, 6); 
  text-align: center;
  font-family:Fredericka the Great;
    font-size: 35px;
}



}







/* FOOTER */
#footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: gray;
    width: auto;
    height: 100px;
  }
  
  #footer .txtRedes {
    font-family: Ubuntu;
    color: white;
    font-size: 20px;
  }
  
  #footer .fa-brands {
    color: white;
    font-size: 20px;
    margin: 10px;
  }
  
  #footer .txtDer {
    font-size: 10px;
    color: white;
  }
 
/* FOOTER */

/* -----------------FUENTES----------------- */
    /* Ubuntu */
    /* Kaushan Script  */
/* -----------------FUENTES----------------- */

/* PAGINA DE CONTACTO */

   #fondoContacto{
    margin: 80px auto;
       width: 40%;
       height: auto;
       background-color: rgb(158, 158, 158);
       border-radius: 15px;
       align-content: center;
       text-align: center;

       .txtFormulario{
           text-align: left;
           margin-left: 50px;
           font-family: ubuntu;
       }   
   }

/* PAGINA DE CONTACTO */